{% extends '::base.html.twig' %}
{% block title %}AUC{% endblock %}
{% block body %}
<div id="fh5co-tours">
  <div class="container">
  <div class="col-md-12">
    <h1>¡Éxito! se ha creado un nuevo administrador</h1>
  </div>
</div>
</div>
{% endblock %}
