{% extends '::base.html.twig' %}
{% block body %}
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
			<h3>Actividades extra</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
			<div href="#"><img src="https://dl.boxcloud.com/api/2.0/internal_files/138660085577/versions/147895824713/representations/jpg_2048x2048/content/1.jpg?access_token=1!YjcguGv-kb2eVw6fQD4imfEnElt_mtg49DGTbQ20Mu6zDPqUQFlCLYnCap-z4KRN-jf6Edo8UjdVdiNqcyJnsHyDIsUyEzsFTUheAWsQ06LHbCPBeduT1YIE8ocARHpxHNL0arGLoNl7nxf53T6h8FRb6a_RYFAETKn4EE3_F3ntWEkG1ytS_SBbZwuGXafTCdJOw4HABWtCeh3KzaEYv8AtYzW64JNllIbKaAye58Th2Hi9l4qK4N1ENxMqDSjBj8hG0TY78Ke_WS1K2Q6uo9nL-gUHaD2kG3mDuIsKSl_pbTxRtIBkOE-AAwSoqd23slxTvy0wEDuVCtYx0kqNsKj3aX7sza3HCX0MggV-A3p8TCpNGCGgmf6SB8EWXR-YEZ83fXi58mVf3rebRw..
				" class="img-responsive">
				<div class="desc">
					<span></span>
					<h3>Clases de inglés</h3>
					<span>Lunes y miércoles ó martes y jueves</span>
					<a class="btn btn-primary btn-outline" href="{{ url('auc_contacto') }}">Contacta con nosotros <i class="icon-arrow-right22"></i></a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn" >
			<div href="#"><img src="https://dl.boxcloud.com/api/2.0/internal_files/138283584796/versions/147505516572/representations/jpg_2048x2048/content/1.jpg?access_token=1!7VW17ZwI_gLJ2VwT9_P42w0a88y9ojcSxtTOydz3toJcuWiYEl5Z28yONgSXLhfcjYaIx-TpP1d59aCsXsW4NHNf0_DOT7ZG2uWwljQTTJzU7o4ErycHP7JRmnWdPdS--l0nsUXjyTeXp3-gi0ufHM7A6kgM6PHoJm9Adh2Si0H8wN7KbAQaOTmODGp8srt-fWALqNL0d975kcxJEutk0wAeVPPeKT7lm_6HUqIV9LGQ-kB-wTQ3tyBaCTUUOdhI90ru_cnEM_wn3RqXalEkX6UCASjyeTjRI139-mxIxWohsS-paUlK8veD3iA2xI0YfpFSKHEvGdfuz5h5jXwsffRc2fUE5s3CuLmGUtd9_P1zicrihVfp84nYhkDtJpJexCJ4E1zvjYYmro03kw.." class="img-responsive">
				<div class="desc"height="60%">
					<h3>Tecnificación</h3>
					<span>Lunes y miércoles ó miércoles y viernes</span>
					<a class="btn btn-primary btn-outline" href="{{ url('auc_contacto') }}">Contacta con nosotros <i class="icon-arrow-right22"></i></a>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
			<div href="#"><img src="https://dl.boxcloud.com/api/2.0/internal_files/138659459225/versions/147895144089/representations/jpg_2048x2048/content/1.jpg?access_token=1!O-VZPXqIK_YDOAy508Pr9VVQPtsdGKoAUFsh5KYiNKX4fWw8PPCab2gEwfykmSgymS4PkM0kJx6_EK_CLWm7SBq3LHAFMbt9Ri0DjUH7qpiZe25zrm1sF8RxaIHMkLvU6V22ipjuh9m7opP9tA2owMh6ogU-UT9telZbwXHSgTFZNxVHlfRIV7RwI45HV1FH5IsSdQrL6iya7Qn0WlUGTMrbt6pZzhE3ytqfR36InhVgvte0En_Cmw54zSHlwS4wxOTkta_S-WKXKd2mIbxYAVVvwDV_b7DykhRbfY1JRw_dCF9Z2QJy9Uqm7aXasidjylWno6m8atqC1gvLj31oTLr74bpCqtZRQ7su3NOMG9kOWE5Asg9yd3Myyb05U40OPihqTuHEZJwYvX4YmQ.." class="img-responsive">
				<div class="desc">
					<h3>Repaso</h3>
					<span>Lunes y jueves de 17.45 a 19.15.Gratuito.</span>
					<a class="btn btn-primary btn-outline" href="{{ url('auc_contacto') }}">Contacta con nosotros<i class="icon-arrow-right22"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
