{% extends '::base.html.twig' %}
{% block body %}
<div id="fh5co-tours">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
        <h3>Fútbol Adaptado</h3>
        <p>La fuerza no viene de la capacidad física, viene de la voluntad indomable</p>
      </div>
    </div>
    <div class="row row-bottom-padded-md animate-box">
      <div class="row">
        <div class="col-md-13">
          <h4>¿Por qué el Fútbol Adaptado?</h4>
          <p>Las sesiones de fútbol adaptado van dirigidas a niños y niñas con alguna
            discapacidad o necesidad educativa especial. Estas sesiones
            las realizan técnicos en deporte adaptado.
            <br>
            Además de estas sesiones de fútbol, también hay sesiones de multideporte,
            es decir, sesiones de multideporte adaptado
          </p>
          </div>
          <div>
            <img src="{{ asset('images/futboladaptado.jpg') }}" id="imgFutbolAdaptado"></img>
          </div>
          <div class="col-md-13">
            <h4>Objetivo del Fútbol Adaptado</h4>
            <p>Para que todo el mundo conozca de que tratan las sesiones de fútbol adaptado,
              su objetivo es conseguir la inclusión con trabajo específico realizado por dos
              técnicos especialistas en deporte adaptado.
            </div>
            <div class="col-md-13">
              <h4>Entrenadores futbol adaptado y multideporte</h4>
              <p>Victor - Titulado en deporte adaptado y FESA
              <p>
              </div>
          </div>
        </div>
        <br>
      </div>
    </div>
    </div>

{% endblock %}
