{% extends '::base.html.twig' %}
{% block body %}
<div id="fh5co-tours">
<div class="container">
  <div id="tablaQuienes" class="background animate-box">
    <div id="dentroTabla">
        <h3 id="tituloTablaQuienes">QUIENES SOMOS</h3>
            <hr><br>
            <h4><b>Athletic Unión Catarroja </b>  es una escuela de fútbol inclusiva en la que se practica el fútbol
                convencional y el fútbol adaptado en silla de ruedas. El objetivo es formar a
                niños y niñas y a jóvenes futbolísticamente (táctica, técnica, aspectos físicos y
                pedagógicos) e incorporar en Valencia las escuelas deportivas inclusivas. La
                salud, calidad de vida, diversión, formación e inclusión son las premisas de esta
                escuela.</h4>
    </div>
  </div>
</div>

  <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
      <h3>Directiva</h3>
  </div>
  <div class="container">

  <div class="col-md-12 col-md-offset-2">
    <img id="img-responsive" src="http://static.wixstatic.com/media/c38e51_573620b723f24cbc8b9a61912b48fc11~mv2.jpg_srz_672_306_85_22_0.50_1.20_0.00_jpg_srz"
    alt="FotoDirectiva" class="img-thumbnail animate-box" >
  </div>
  </div>
  <div>
    <hr class="animate-box">
  </div>
  <div class="wrapper animate-box" id="wrapper">
    <section class="gallery" id="gallery" style="margin-right: 50px">
      <div class="container">
        <div id="grid-gallery" class="grid-gallery">
          <section class="grid-wrap">
            <ul class="grid">
              <li class="grid-sizer"></li><!-- for Masonry column width -->
              <li>
                <figure>
                  <img src="https://dl.boxcloud.com/api/2.0/internal_files/138634776473/versions/147868996249/representations/jpg_2048x2048/content/1.jpg?access_token=1!_ihKJ5pl5R9dIqMgenWvLAJBJ2JuA95bQW2ste9Qwac15QFHXGTCettxm_5jlN8QKJmKlbvynVY1RcHE9Rk9-daKL05pNvbxNUgALKa74Mp6jwI2KDS8hEQGyvyPh1gL3aosnSOYZ7lrBNw56CA1fw1OLcItpiHeF8NDP-beN4wqZPCNGSj3519W7iCpI9CQMlnDKhtmDD9vkyaSZjaf929QDR99BZiltND2veBJ0h346ONFoGhecePmOqKAHEIBpq-KISgA5JQDp4TevelAs0vNi_CeQci2BgqAePCcQhB62fxPMO8y64-qyeJtKV60_HGZCCOcNP_Y5HDrxWpmRRMR4d4ZzP39LTGx249KeUqkrQVg3f-U0IUAQoJAiEmrqBazJuVhG4AoUA_2tg.." alt="Vicepresidente" class="img-responsive-person"/>
                  <figcaption>
                    <h3>
                      <b>VICEPRESIDENTE</b>
                    </h3>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="https://dl.boxcloud.com/api/2.0/internal_files/138634778111/versions/147868998655/representations/jpg_2048x2048/content/1.jpg?access_token=1!g-sjwrXlL7fx7k-BgM4bd5d81zHxGQUMSZRNpGdyCp2qzEEEN1G_6H6OJCEcdFFfc07tzCW5chQbCLF1oVYZgfwHeQgGIs3CHi7Oym-dXcdhjJQzvoZYs8OntvSx12H-M7gmucRdaunOpA-dV3jFPEr9d8410CHCuXKKbvrLAntLKL8jxLZndWGIZeoTgrSt63yF6XNeZr7V2PumZdvrfSCXW2Sk0gOj8-MFDDzdeM-YDGTTvSBlUSya7Bnmfd2cQKPsO0LQkP07KMaIZPa5-daJ1rjzZEG_Vp_8Rjty25Em1XINAcL7atFnw7M3wQ83kD8UiY4ZbJvueMa4lzBoZ86AuYAkVXNd96qSpGvXhahzzeBBfvnRArMous3F7sh2-YMgiXi69JtavhCwJA.." alt="Presidente" class="img-responsive-person"/>
                    <figcaption>
                      <h3>
                        <b>PRESIDENTE</b>
                      </h3>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="https://dl.boxcloud.com/api/2.0/internal_files/138634782440/versions/147868999400/representations/jpg_2048x2048/content/1.jpg?access_token=1!9zYSYDZVlen5pyN98BxMWU3GStNTDLMIr6qEylB7il3fEDwzlfQIZ0rU6glurOsa7PpoispleTADmqU7JuxQ1Gvn-g2-9x54aefrUWINEScR3j9Wx8g_m-4zlhaeivxQFz585TxHcEuoaJdvXMsIFKRdlKQl0SkRVGXNDlQxJx9xsgkSPcxgPZfQ7JtsQYGK4OvNP6u7SjQCIK66oAjbNNR4ItqDiZ6NE-LMYUvLnV-XFOY38QqgBM-GTkUr7XHGZwXXYioa8a_tUmjdYLxTKoMifhOaKJeUIrVIQOndMIaNn3JQLHERCWqlsi2IOesDG4JN6eXpm44mobyZOMcOCWiU_512JHw3TQMNGj1PdYW7q9qUGEeIusHbji0vLM4bJoZkF4hO88p-LxLA5A.." alt="Secretaria" class="img-responsive-person"/>
                    <figcaption>
                      <h3>
                        <b>SECRETARIA</b>
                      </h3>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="https://dl.boxcloud.com/api/2.0/internal_files/138634772293/versions/147868986181/representations/jpg_2048x2048/content/1.jpg?access_token=1!Uc5T7Dz8E3sKwp4iLO8gE4IKvjSrCdxQYTGllFkrs0iCimMuHfesSXAxV0Wcy46IXDI_aRSoXshuwQ9dkNHsAwcnsCtYkVbqA2GSdOMn4png7B8eM3h8fOMBV8L983q4t3Nikab2-afln0I88pMy0-3bty-Rcp_MWKkkmQCtYSbk9rJYJ4owzxLix1WmCAeoqLPKig8BepX4oG8AA9Zp0CnWHiiMaRw36JlRnSX3IcX8thKms7uIxq14ZBJtQUo9YK2nMfyoGbix2ndShZia6DlTSWjkqoaAjWFvi5GxSfQDX6hUGWt7u27-ISdp408Vzt4mo14fmFDkNznJtFD3ExB3oKY12VpMESfKXzsFqbRvTmvJRgyBLzQP9FKZw1HFb7t08Z_ilDu12yr69w.." alt="Secretaria" class="img-responsive-person"/>
                    <figcaption>
                      <h3>
                        <b>TESORERA</b>
                      </h3>
                    </figcaption>
                  </figure>
                </li>
              </ul>
            </section><!-- // end small images -->

            <!-- // start imagenes zoom -->
            <section class="slideshow">
              <ul>
                <li>
                  <figure>
                    <img src="https://dl.boxcloud.com/api/2.0/internal_files/138281934114/versions/147503684386/representations/jpg_2048x2048/content/1.jpg?access_token=1!t_wPiPphJhY-YGYy9hi2hea2TiL79GA7z5k8TTdUA81TyLp6UfC5Rije2bXzKv8W-E60Dg8PbgcO2Y8_QZc9oyoE9z6NKlVVXnsdXlcWzY8QKQ40iPYKg6Dr7OrKEpVaK6zkB2wE5r6yX00uBVAqHb6XQA2QhSMNrn81xKKbt3gFIPZ-_0-Ked9lFBW7Kxtid5go1jFR4BOQ70B0zn9G3KzUwmAN5i7kbt84pf1uRHMhcRaiJrSffW93I8ZI6pEqbHenbL2qrkYygYLB5943SiAr-KNW4jsSA0q_nDsGX_MmgLPvRXHY7U8crysS441c-SfxmE6ecEDkOSf1qj9D8sHI9E7DBD6kxWrqV-4vM8KgX7jSdA2F_TMRmLbzJplHX3HC24HqIk94hkHplQ.." class="img-responsive-script"/>
                    <figcaption>
                      <h3 class="preguntas">
                        <b>Toni Sanchis Zafra</b>
                        <button type="button" class="btn btn-default btn-sm">
                          <span class="glyphicon glyphicon-plus"></span> Info
                        </button>
                      </h3>
                      <h4 class="respuestas">
                        <div>- Curso Director Deportivo de Fútbol </div>
                        <div>- Entrenador de fútbol nivel 2 </div>
                        <div>- Actualmente cursando nivel 3 de entrenador </div>
                      </h4>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="https://dl.boxcloud.com/api/2.0/internal_files/139106516852/versions/148360515956/representations/jpg_2048x2048/content/1.jpg?access_token=1!Nj-EM70BosHPvaBNK_7Gqze8Mjgvq31Jk4-4igx0p51jZwXyzl68iSakru0jpLDhQwZmEcdvKjYYxJhL1TePxm3reJjffjyiD_UoIgZTID23mS5dNmzbkLR6KNc983CaQs03hLYiDNfbNB57meT54-ki-I2a-jFZDnF_YTtw50hgkZk9OxerhG8EdMzfbInB42dH2xwkN1UtOrH9FFeBAd8c0iezx3rxaxZrzyVIWnta41i4GExTQeK7XuZK2H8c8M9QiezE5tQUEMlTocLeTcuNzNEkcaco_w1ymjcbUNi6jeLagLINwU4o3p1iShagtH-6KIvFVCpIW98__VhSg9cbyylRoCE7sjx3ahPAcZZcUnubXaClSkzvBPZqF429UpBJ2QHKR8h3uaDZ8g.." alt="Presidente" class="img-responsive-script"/>
                    <figcaption>
                      <h3 class="preguntas">
                        <b>José Hernández</b>
                        <button type="button" class="btn btn-default btn-sm">
                          <span class="glyphicon glyphicon-plus"></span> Info
                        </button>
                      </h3>
                      <h4 class="respuestas">
                        <div>- Entrenador de fútbol Nivel 3 (Nacional)</div>
                        <div>- Pedagogo</div>
                        <div>- Coach Nivel 1 Experto</div>
                        <div>-Cursando grado de Educación Social</div>
                        <div>-8 años de experiencia como entrenador de fútbol</div>
                      </h4>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="http://static.wixstatic.com/media/c38e51_69bb974110414eb1a0319a704099c301.jpg_srz_208_235_85_22_0.50_1.20_0.00_jpg_srz" alt="Secretaria"  class="img-responsive-script"/>
                    <figcaption>
                      <h3 class="preguntas">
                        <b>Alba Sospedra</b>
                        <button type="button" class="btn btn-default btn-sm">
                          <span class="glyphicon glyphicon-plus"></span> Info
                        </button>
                      </h3>
                      <h4 class="respuestas">
                        <div>- Licenciada Comunicación Audiovisual</div>
                        <div>- Máster de Profesorado en Secundaria, Bachilleratom y FP Community Manager</div>
                        <div>- Amplia experiencia como redactora de informtivos</div>
                      </h4>
                    </figcaption>
                  </figure>
                </li>
                <li>
                  <figure>
                    <img src="https://dl.boxcloud.com/api/2.0/internal_files/138282540098/versions/147504368962/representations/jpg_2048x2048/content/1.jpg?access_token=1!9vltrs9yA9yepohQ03A9I5SHuHRLrxUsT2SDJDWzqtHvqAJcgxuYkGPhJlKza3ypYGGA65PxjaKpiQczKZE-5xKTp9G_VrVw12TkNfzZch8EHjnv832YWTx3C9UuzXcoQOkJxLRJIc2GKKJXfSX-sL0jUWwFh0B9mNXHgjJWtHRi53frxVp4IJho4RBh-C7qwFfp8RPRAM1tHKkK9mSL5Z8NJCKvG7lU93_5fkFpGL0dk6aer-GOkgnKoYoymwSzXhvLV9bDtGiKUhfSnglSaHSfGwh4A4CS-vva8BZFBTicBjil6eqwZRNB81RTzpwDHy7Q-XLjV_airvusEXAmqTPVpDj7pG4AEgnh0Om6EOwgVoiOeqaw5dRi4CMZ-7LBQbJiwgawRe3nHMCDFQ.." alt="Secretaria"  class="img-responsive-script"/>
                    <figcaption>
                      <h3 class="preguntas">
                        <b>Mar Martin Garcia</b>
                        <button type="button" class="btn btn-default btn-sm">
                          <span class="glyphicon glyphicon-plus"></span> Info
                        </button>
                      </h3>
                      <h4 class="respuestas">
                        <div>- Licenciada Comunicación Audiovisual</div>
                        <div>- Máster de Profesorado en Secundaria, Bachilleratom y FP Community Manager</div>
                        <div>- Amplia experiencia como redactora de informtivos</div>
                      </h4>
                    </figcaption>
                  </figure>
                </li>
              </ul>
              <!-- // Iconos slaider sig,ant,clos -->
              <nav>
                <span class="icon nav-prev"></span>
                <span class="icon nav-next"></span>
                <span class="icon nav-close"></span>
              </nav>
            </section><!-- // end slideshow -->
          </div><!-- // grid-gallery -->
        </div>
      </section>
      <div class="container">
        <div id="tablaQuienes" class="background animate">
          <div id="dentroTabla">
              <h3 id="tituloTablaQuienes">OBJETIVOS</h3>
                  <hr><br>
                  <h4>- Desarrollar de manera equilibrada las capacidades condicionales y coordinativas generales, integradas
                       en el desarrollo y formación de actitudes afectivo-sociales.<br>
                       - Formación, desarrollo y mejora de las capacidades técnicas, tácticas, condicionales, coordinativas especícas
                       y psicológicas en cada una de las etapas evolutivas del jugador.</h4>
          </div>
        </div>
      </div>
      </div>
      <!-- Script de quienes somos -->
      <script src="{{ asset('js/imgloaded.js') }}"></script>
      <script src="{{ asset('js/classie.js') }}"></script>
      <script src="{{ asset('js/gridscroll.js') }}"></script>
{% endblock %}
